.reservation-container {
  border: 10px solid black;
}

h2 {
  align-content: flex-start;
}

.calendar {
  border: 2px solid red;
  width: 50%;
}

.day-of-week, .date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
